<footer class="footer test">
  
  <p>Copyright © {{ now.Year }} {{ .Site.Title }}</p>
  <p><a href="/impressum/" title="Legal Disclosure">Legal Disclosure</a> | <a href="/privacy-policy/" title="Privacy Policy">Privacy Policy</a></p>

</footer>



<!-- 
{{ partial "adsense-sticky.html" . }}

{{ if .Site.GoogleAnalytics }}
<amp-analytics type=googleanalytics>
  <script type=application/json>
    {
      "vars": { "account": {{ .Site.GoogleAnalytics }} },
      "triggers": { "trackPageview": { "on": "visible", "request": "pageview" } }
    }
  </script>
</amp-analytics>
{{ end }}
-->